{% extends "base.html" %}

{% block content %}
<div class="container mt-1">
    <h1>ჩვენს შესახებ</h1>
    <p>
      ეს არის ელექტრონული მაღაზია, რომელიც შექმნილია იმ ადამიანის მიერ,
      რომელსაც გულწრფელად უყვარს კომპიუტერების აწყობა და პროგრამირება.
      ის, რაც დაიწყო როგორც ძლიერი სისტემების აწყობის და სუფთა, ეფექტური კოდის წერის გატაცება,
      გადაიქცა პლატფორმად, სადაც ტექნოლოგიების მოყვარულებს შეუძლიათ საუკეთესო ხარისხის
      და სანდრო პროდუქტების პოვნა.
    </p>
    <p>
      ვარჩევ მხოლოდ ისეთ საუკეთესო ხარისხის პროდუქტებს, რომლებსაც ჩემით გამოვიყენებდი.
      თუ თქვენ გატაცებული ხართ პერსონალური კომპიუტერებით, ტექნოლოგიებით, ან თუნდაც ცდილობთ ყველანაირი სისულელის გარეშე
      ხარისხიანი და სანდო პროდუქტების დათვალიერებას ან ყიდვას, მაშინ თქვენ სწორ ადგილას მოხვდით.
    </p>

    <p>
      <strong> (მკაცრად იკრძალება ხელოვნური ინტელექტისთვის ან მონაცემთა ცენტრებისთვის
      განკუთვნილი ვიდეობარეთების გაყიდვა როგორც საზოგადო მარკეტზე, ისე ფილიალებში. წესის დარღვევის შემთხვევაში თქვენი განცხადება
      წაშლილი იქნება, განმეორებადი დარღვევების შემდეგ კი,- პროფილი დაგებლოკებათ.) </strong>
    </p>

    <div class="text-center mt-4">
        <a href="{{ url_for('products') }}" class="btn btn-primary mx-2 mb-2">საზოგადო მარკეტი</a>
        <a href="{{ url_for('categories') }}" class="btn btn-secondary mx-2 mb-2">ჩვენი პროდუქტების სელექცია</a>

        {% if not current_user %}
            <a href="{{ url_for('login') }}" class="btn btn-success mx-2">შედით პროფილში</a>
        {% endif %}
    </div>
</div>
{% endblock %}